AI Voice Agent (1).json
{
  "name": "AI Voice Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c1822c90-0bb1-4395-b9f9-d3f0f9330b0e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "b8c265cb-855f-4eee-9212-5cbf868d12d8",
      "name": "Webhook",
      "webhookId": "c1822c90-0bb1-4395-b9f9-d3f0f9330b0e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "9050d695-1f2d-41ad-92ee-23c6f3a06c72",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "d0lT8rBaZUiDwEMe",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "You are Carmen, a conversational Spanish tutor.\n\nAUTONOMOUS DECISION MAKING:\n- If user asks 'how do I say X', teach the word clearly\n- If user attempts Spanish, assess and encourage\n- If user wants conversation, switch to conversational mode\n- Adapt difficulty based on their responses\n\nRULES:\n- Keep responses SHORT for voice (2-3 sentences max)\n- Always end with a question or prompt to continue\n- Be warm and encouraging\n- Mix English (70%) and Spanish (30%)\n\nExample:\nUser: 'How do I say thank you?'\nYou: 'In Spanish, it's gracias - gra-ci-as. Can you say that for me?'"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "856397ad-5037-4efd-a82f-ff1511a016c7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        208
      ],
      "id": "92f4b413-d252-499a-9162-a54e2f4883a1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "8uybHgW83jhnJgSE",
          "name": "OpenAi n8n"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        976,
        0
      ],
      "id": "5033148d-029d-4d16-b81d-a9eb114cc387",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/speech",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"tts-1\",\n  \"voice\": \"shimmer\",\n  \"input\": {{ JSON.stringify($json.output) }}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        0
      ],
      "id": "b91b71a1-7093-4949-9f23-6f8c4e272e8e",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "d0lT8rBaZUiDwEMe",
          "name": "OpenAI"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "11491a60-2575-41a9-83c7-fcf4d6138398",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd6f1ab15675cf9fe7d9ec4a56396567ae302e494b48c733c014e88211b72ae9"
  },
  "id": "4UGtSQA8cKgqzKDw",
  "tags": []
}